@*
    Ukljucimo model namespace
    Definiramo tip modela
*@

@using MvcStudenti2.Models
@model Student

@*@{
    Layout = null;
}*@

@{
    //dodatna metoda za odredivanje spola uvaceno u body kao metoda
    string spol;
    if (Model.Spol == 'M')
    {
        spol = "muski";
    }
    else
    {
        spol = "zenski";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Title</h2>
        <h1>@Model.Ime @Model.Prezime</h1>
        <p>
            Spol:   @spol <br />
            OIB:    @Model.Oib<br />
            Datum rodenja:      @Model.DatumRodenja.ToString("dd.MM.yyyy")<br />
            Godina studija:     @Model.GodinaStudija <br />
            Redovni student:    
            @if (Model.RedovniStudent)
            {
                <span>Da</span>
            }
            else
            {
                <span>Ne</span>
            }
            <br />
        </p>
        <p>@Html.ActionLink("Povratak na popis","Popis","Student")</p>
    </div>
</body>
</html>


